
.header {
  background-color: rgb(112,91,131);
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-bottom: 1px solid #e0e0e0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  color: white;
  font-size: 28px;
  margin: 0;
  font-weight: 400; 
  letter-spacing: -0.5px;
}
